/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

nav {
  width: 100%;
  background-color: #0a2533;
}

.nav-container {
  height: 80px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: auto;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(6, 103, 151, 0.5);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0a2533;
  padding: 20px;
  border-radius: 6px;
  width: 700px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.dropdown-menu li {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-menu li:hover {
  background-color: rgba(6, 103, 151, 0.5);
  border-radius: 4px;
}

/* Button */
.nav-btn {
  background: transparent;
  border: 2px solid white;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-btn:hover {
  background-color: #fff;
  color: #0a2533;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* ======================= */
/*     MOBILE MENU FIXED   */
/* ======================= */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #0a2533;
  border-top: 2px solid white;
  width: 100%;
}

.mobile-menu li {
  list-style: none;
  text-align: center;
  position: relative;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 0;
  display: block;
  transition: all 0.3s;
}

.mobile-btn {
  display: block;
  width: 80%;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 0;
  text-align: center;
}

.mobile-btn:hover {
  background: white;
  color: #0a2533 !important;
}

/* Mobile Dropdown */
.mobile-dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #0a2533;
}

.mobile-dropdown-menu li {
  text-align: left;
  padding-left: 20px;
  background-color: white;
  color: #0a2533;
  margin-bottom: 1px;
}

.show-mobile-dropdown {
  display: flex;
}

/* Show menu class */
.show-menu {
  display: flex;
  flex-direction: column;
}

/* Responsive */
@media (max-width: 850px) {
  .nav-middle,
  .nav-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .dropdown-menu {
    display: none !important;
  }
}
